@import "../../style/style.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');



.sidebar-container {
    display: flex;
    flex-direction: column;
    background: $color-white;
    width: 235px;
    height: 100vh;
    padding: 20px 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    transition: all 0.5s ease-in-out;

    .logo-container {
        position: relative;
        display: flex;
        align-items: center;
        padding: 12px 18px 28px 18px;
        position: relative;
        .trapezoid {
            position: absolute;
            left: 98%;
            cursor: pointer;
        }
        .logo-orange {
            margin-right: 14px;
        }
        .chat-icon {
            position: absolute;
            top: 2px;
            left: 14px;
        }
        .logo-text {
            color: $color-orange-primary;
        }
    }

    .sidebar-toggle {
        right: -15px;
        top: 10px;
        content: "";
        width: 0px;
        height: 48px;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        border-left: 15px solid white;  
        filter: drop-shadow(4px 0 2px rgba(0, 0, 0, 0.15));
        cursor: pointer;
        .sidebar-toggle-icon {
            position: absolute;
            left: -13px;
        }
    }
    

    .links-list {
        .link-item {
            display: flex;
            align-items: center;
            padding: 9px 18px;
            position: relative;
            font-size: 14px;
            cursor: pointer;
            span {
                margin-right: 12px;
                white-space: nowrap;
            }

            .orange-stick {
                width: 6px;
                height: 100%;
                @include position(absolute, 0, 0);
                display: none;
                background-color: $color-orange-primary !important;
            }

            &.active {
                background-color: $color-neutral-4;
                .orange-stick {
                    display: block;
                }
            }

            .down-arrow {
                right: 10px;
            }
        }
        .child-links-list {
            background-color: #FAFAFA;
            span:nth-child(1) {
                margin-left: 20px;
            }
            span:nth-child(2) {
                margin: 0;
            }
            .child-link-active {
                span {
                    color: $color-orange-primary;
                }
            }
        }
    }

    .user-logout {
        margin-top: auto;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            align-items: center;
            img {
                width: 30px;
                height: 30px;
            }
           
        }
        .right {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    &.fade {
        width: 70px;
        .text-link, .logo-text {
            display: none;
        }
        .user-logout {
            .user-name, .right {
                display: none;
            }
        }
    }
}
