
$color-orange-primary: #FA8C16;
$color-neutral-4: #F0F0F0;
$color-neutral-6: #BFBFBF;
$color-neutral-5: #D9D9D9;
$color-character-success: #52C41A;
$color-white: white;
$color-blue: #1890FF;
$container-width: 1095px;
$container-lg-width: 1184px;
$text-dark: #080a25;
$error-color: #f31d1d;


$mobile-width: 768px;
$tablet-width: 992px;
$desktop-width: 1600px;
$bigger-desktop-width: 2000px;



//spacing
$sp-em: 1em;
$sp-rem: 1rem;
$sp-5: 5px;
$sp-half: 7.5px;
$sp-10: 10px;
$sp-15: 15px;
$sp-20: 20px;
$sp-25: 25px;
$sp-35: 35px;
$sp-60: 60px;
$sp-120: 120px;

//border-radius
$border-radius: 5px;

//font-size
$fs-12: 12px;
$fs-14: 14px; //default
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-32: 32px;


